%ol
  - @songs.each do |song|
    %li.song
      %a{:href => 'javascript:void(0)', :onclick => "$.get(\"/play\", {\"song\": \"#{song.url}\"})"}= song.url
      = "/"
      %a{:href => 'javascript:void(0)', :onclick => "$.get(\"/play_next\", {\"song\": \"#{song.url}\"})"} Play Next
