.audioPlayer {
	position:relative;
	display:block;
	width:265px;
	height:70px;
	background-color:#dae3e5;
        margin-bottom:5px;
}

.audioPlayer:hover {
        background-color:#b0da9c;
}

.audioPlayer_button {
	position:absolute;
	top:10px;
	left:10px;
	height:30px;
	width:30px;
	background:#8342ca url(../images/play.png) no-repeat;
	text-indent:-4000px;
	cursor: pointer;
	cursor: hand;
}

.audioPlayer_pause {
	background:#8342ca url(../images/pause.png) no-repeat;
}

/* This file skins sliders */

.audioPlayer-slider-handle { position: absolute; height: 23px; width: 12px; top: 0px; left: 0px; background-image: url(../images/slider-handle.gif);  }
.audioPlayer-slider-disabled .ui-slider-handle { opacity: 0.5; filter: alpha(opacity=50); }

/* Default slider backgrounds */
.audioPlayer-slider-1 { width: 200px; height: 23px; background-image: url(../images/slider-bg-1.png); background-repeat: no-repeat; background-position: center center; }
.audioPlayer-slider-2 { width: 200px; height: 23px; background-image: url(../images/slider-bg-2.png); background-repeat: no-repeat; background-position: center center; }

.audioPlayer-track {
	position: absolute;
	top: 0px;
	left: 45px;
}

.audioPlayer-volume {
	position: absolute;
	top: 30px;
	left: 45px;
}

.audioPlayer-volume-text {
	position:absolute;
	top:45px;
	left:10px;
	font-size:10px;
}