div.sink, div.client {
  padding:0 1em;
  margin:0 1em 1em 0;
  width:40%;
  float:left;
  border:1px solid #669;
  background-color:#ddf;
}

div.sink {
  
}

div.client {
  
}

h2, div.volume_slider {
  clear:both;
}

div.volume_slider div.floatleft span {
  font-family:arial;
  font-size:16pt;
}
