.audioPlayer {
	position:relative;
	display:block;
	width:265px;
	height:70px;
	background-color:#dae3e5;
        margin-bottom:5px;
}

.audioPlayer:hover {
        background-color:#b0da9c;
}

.audioPlayer_button {
	position:absolute;
	top:10px;
	left:10px;
	height:30px;
	width:30px;
	background:#8342ca url(../images/play.png) no-repeat;
	text-indent:-4000px;
	cursor: pointer;
	cursor: hand;
}

.audioPlayer_pause {
	background:#8342ca url(../images/pause.png) no-repeat;
}

/* This file skins sliders */
.floatleft {
  float:left;
}

div#volume_slider, div.slider_bar {
	position:relative;
  margin:10px;
  width:200px;
  height:23px;
  top:-9px;
  background-image:url(../images/slider-bg-1.png);
  background-repeat:no-repeat;
  background-position:center center;
}

div#volume_handle, div.slider_handle {
  position:relative;
  height:23px;
  width:12px;
  background-image:url(../images/slider-handle.gif);
}

div#track_slider {
	position:relative;
  margin:10px;
  width:200px;
  height:23px;
  top:-9px;
  background-image:url(../images/slider-bg-1.png);
  background-repeat:no-repeat;
  background-position:center center;
}

div#track_handle {
  position:relative;
  height:23px;
  width:12px;
  background-image:url(../images/slider-handle.gif);
}
