%h2 Speakers
- PulseAudio.list.sinks.each do |sink|
  .sink
    %h4= sink.name
    .sink_volume_slider{:sink_name => sink['Name']}
%h2 Sources
- PulseAudio.list.clients.select {|c| c.sink_input}.each do |client|
  - next if client.network? && !client.active?
  .client
    %h4= client.nickname
    = form(:action => '/move_sink_input', :method => :post) do
      %input{:type => 'hidden', :name => 'client_index', :value => client.index}
      = select(:name => 'sink_name', :selected => client.sink['Name'], :collection => PulseAudio.list.sinks.collect {|s| [s['Name'], s.name]}, :value_method => :first, :text_method => :last, :onchange => '$(this.form).ajaxSubmit();')
    .client_volume_slider{:sink_input_index => client.sink_input.index}
